* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-JosefinSans, "Josefin Sans");
}
:root {
  /* Light theme */

  --bg-white: #fff;
  --bg-Mercury: #e3e4f1;
  --bg-OsloGrey: #908f8f;
  --bg--GreyGoose: #d1d2da;
  --bg-DodgerBlue: #3a7cfd;
  --bg-MulledWine: #494c6b;
  --bg-MountainMist: #9495a5;
  --bg-JasminePurple: #ac2deb;
  --bg-CornflowerBlue: #5596ff;
  --font-JosefinSans: "Josefin Sans";

  /* Dark theme */
  --bg-Mirage: #171823;
  --bg-EbonyClay: #25273d;
  --bg-Raven: #767992;
  --bg-Mulleds: #4d5067;
  --bg-PeriwinkleGrey: #c8cbe7;
  --bg-ShipGrey: #393a4b;
  --bg-Comet: #5b5e7e;
}
@font-face {
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-family: "Josefin Sans";
  font-weight: 700;
}
@font-face {
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-family: "Josefin Sans";
  font-weight: 400;
}
body {
  background-color: var(--bg-white, #fff);
}
body.active {
  background-color: var(--bg-Mirage, #171823);
}
.header-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
}
.header-section--image {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    225deg,
    var(--bg-CornflowerBlue, #5596ff) 0%,
    var(--bg-JasminePurple, #ac2deb) 100%
  );
}
.header-section--image > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.header-section--about {
  width: 36%;
  height: 48px;
  position: absolute;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-about--title > h1 {
  color: var(--bg-white, #fff);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 15px;
}
.section-about--icon > img {
  cursor: pointer;
}
.main-section {
  width: 100%;
  height: 350px;
  position: relative;
}
.todo-section {
  width: 100%;
  position: absolute;
  top: -35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-container {
  width: 35%;
  height: 300px;
}
.todo-container--create {
  width: 100%;
  height: 64px;
  margin: auto;
  border-radius: 5px;
  background-color: var(--bg-white, #fff);
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body.active .todo-container--create {
  background-color: var(--bg-EbonyClay, #25273d);
}
.todo-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: var(--bg-white, #fff);
  border-radius: 50%;
  border: 1px solid var(--bg-OsloGrey, #908f8f);
  cursor: pointer;
}
body.active .todo-checkbox {
  background-color: var(--bg-EbonyClay, #25273d);
}
.todo-text {
  width: 90%;
  height: 95%;
  border-color: transparent;
  color: var(--bg-MountainMist, #9495a5);
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: -0.25px;
}
body.active .todo-text {
  background-color: var(--bg-EbonyClay, #25273d);
  color: var(--bg-Raven, #767992);
}
.active-checkbox:checked {
  background-image: url("../image/check.svg");
  border: none;
}
.todo-list {
  width: 100%;
  height: auto;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
body.active .todo-list {
  box-shadow: 0px 0px 50px 0px var(--bg-EbonyClay, #25273d);
}
.todo-list--item {
  width: 100%;
  height: 64px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: var(--bg-white, #fff);
  border: 1px solid var(--bg-Mercury, #e3e4f1);
  padding: 5px;
}
body.active .todo-list--item {
  background-color: var(--bg-EbonyClay, #25273d);
  border-color: var(--bg-ShipGrey, #393a4b);
}
.todo-list--about {
  color: var(--bg-MulledWine, #494c6b);
  font-size: 18px;
  width: 67%;
  font-weight: 400;
  margin-left: auto;
  letter-spacing: -0.25px;
}
body.active .todo-list--about {
  color: var(--bgPeriwinkleGrey, #c8cbe7);
}
.todo-list--item > img {
  width: 96px;
  height: 20px;
  cursor: pointer;
}
.todo-list--item > img:last-child {
  width: 25px;
  height: 25px;
  margin-left: 3px;
}
.list-footer {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border-radius: 5px;
  background-color: var(--bg-white, #fff);
  cursor: pointer;
  color: var(--bg-MountainMist, #9495a5);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.194px;
  display: none;
}
body.active .list-footer {
  background-color: var(--bg-EbonyClay, #25273d);
}
.footer-list {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.footer-list > li {
  list-style: none;
}
.footer-list > li > p {
  /* text-decoration: none; */
  font-weight: 700;
  color: var(--bg-MountainMist, #9495a5);
}
.footer-list > li > a:hover {
  color: var(--bg-MulledWine, #494c6b);
}
.list-footer--item > p:hover {
  color: var(--bg-MulledWine, #494c6b);
}
.footer-container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container > p {
  color: var(--bg-MountainMist, #9495a5);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.194px;
}
body.active .footer-container > p {
  color: var(--bg-Comet, #5b5e7e);
}
input:focus-visible {
  outline-color: transparent;
}
.txtDecoration-active {
  text-decoration: line-through;
  color: var(--bg--GreyGoose, #d1d2da);
}
body.active .txtDecoration-active {
  color: var(--bg-Mulleds, #4d5067);
}
